# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

./apps/myApps/Cosmos3d/bin
./apps/myApps/Cosmos3d/obj
./apps/myApps/Cosmos3d/Cosmos3d.vcxproj.filters
./apps/myApps/Cosmos3d/Cosmos3d.vcxproj.user
./apps/myApps/Cosmos3d/.vs
.vs
